@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';

@font-face {
  font-family: 'KBO-Dia-Gothic';
  src: url('public/fonts/KBO-Dia-Gothic_light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KBO-Dia-Gothic';
  src: url('public/fonts/KBO-Dia-Gothic_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'KBO-Dia-Gothic';
  src: url('public/fonts/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-mochiy: 'Mochiy Pop One', sans-serif;
  --font-kbo: 'KBO-Dia-Gothic', sans-serif;
}

body {
  font-family: 'Pretendard', sans-serif;
  font-weight: 300;
}

button {
  cursor: pointer;
}
