@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';

@font-face {
  font-family: 'KBO-Dia-Gothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

@theme {
  --font-mochiy: 'Mochiy Pop One', sans-serif;
  --font-kbo: 'KBO-Dia-Gothic', sans-serif;
}

body {
  font-family: 'Pretendard', sans-serif;
}
